<?php
return array(
    'db' => array(
        'adapters' => array(
            'db-zfegg-admin' => array(
                'database' => 'zfegg-admin',
                'driver' => 'PDO_Mysql',
                'hostname' => '',
                'username' => 'root',
                'password' => '',
                'dsn' => 'mysql:dbname=zfegg-admin;host=127.0.0.1;charset=utf8',
            ),
        ),
    ),

    'zf-mvc-auth' => array(
        'authentication' => array(
            'adapters' => array(
                'zfegg-admin-oauth' => array(
                    'adapter' => 'ZF\\MvcAuth\\Authentication\\OAuth2Adapter',
                    'storage' => array(
                        'adapter' => 'pdo',
                        'dsn' => 'mysql:dbname=zfegg-admin;host=127.0.0.1;charset=utf8',
                        'route' => '/oauth',
                        'username' => 'root',
                        'password' => '',
                        'storage_settings' => array(
                            'auth_code_lifetime' => '2800',
                            'user_table' => 'admin_users',
                        ),
                    ),
                ),
            ),
        ),
    ),

    'zfegg-admin' => array(
        'mvc-auth' => array(
            'role_whitelists' => array(
                '6' => array(
                    '*' => array(),
                ),
            ),
        ),
    ),
);