<?php
return array(
    'db' => array(
        'adapters' => array(

            //后台数据源数据库配置
            'db-zfegg-admin' => array(
                'database' => 'zfegg-admin',
                'driver' => 'PDO_Mysql',
                'hostname' => '',
                'username' => 'root',
                'password' => '',
                'dsn' => 'mysql:dbname=zfegg-admin;host=127.0.0.1;charset=utf8',
            ),
        ),
    ),

    'zf-mvc-auth' => array(
        'authentication' => array(
            'adapters' => array(
                //后台账号 Oauth 配置
                'zfegg-admin-oauth' => array(
                    'adapter' => 'ZF\\MvcAuth\\Authentication\\OAuth2Adapter',
                    'storage' => array(
                        'adapter' => 'pdo',
                        'dsn' => 'mysql:dbname=zfegg-admin;host=127.0.0.1;charset=utf8',
                        'route' => '/oauth',
                        'username' => 'root',
                        'password' => '',
                        'storage_settings' => array(
                            'auth_code_lifetime' => '2800',
                            'user_table' => 'admin_users',
                        ),
                    ),
                ),
            ),
        ),
    ),

    'zfegg-admin' => array(
        // UI Configs
        'ui' => array(
            'modules' => array(),
            'requirejs_config' => array(),
            'oauth' => array(
                'clientId' => 1000,
                'clientSecret' => 'testpass',
            ),
        ),
        'mvc-auth' => array(
            //后台账号白名单配置
            'role_whitelists' => array(

                //账号ID 为 6的, 允许
                '6' => array(
                    '*' => array(),
                ),
            ),
        ),
    ),
);